/**
 * @link https://hankchizljaw.com/wrote/a-modern-css-reset/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
blockquote,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
ul, ol {
  margin: 15px 0 15px 30px;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/**
 * Common layout
 */
body {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  letter-spacing: -0.1px;
  color: #111;
}
html,
body {
  background: #f5f5f5;
  scrollbar-width: thin;
  scrollbar-color: #bbb #ddd;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
}
h2 + h3 {
  color: #aaa;
  font-size: 1.3rem;
  font-weight: 400;
}
h3 {
  font-size: 1.6rem;
  color: #444;
  line-height: 1;
}
a {
  color: #ff9966;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
a:hover,
a:focus {
  color: #ff5e62;
  text-decoration: none;
}
.d-flex {
  display: flex;
}
span.muted {
  color: rgba(255, 153, 102, 0.5);
  font-style: italic;
}

/**
 * Header
 */
#header {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background: #f96;
  background: linear-gradient(-45deg, #ff9966, #ff5e62);
  background-size: 400% 400%;
  animation: movingbg 6s ease infinite;
}
#header > .d-flex {
  align-items: center;
}
#header-photo {
  display: block;
  border-radius: 50%;
}
#header-intro {
  color: #f0f0f0;
}
#header-intro > span,
#header-intro > a {
  color: #fff;
  font-weight: 600;
}
#header-intro > a {
  border-bottom: 2px rgba(255, 255, 255, 0.75) solid;
}
#header-intro > a:hover,
#header-intro > a:focus {
  color: #f0f0f0;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

/**
 * Content
 */
#content > .container > section > h2 {
  margin-bottom: 15px;
}

/**
 * Talks
 */
iframe, .slide-thumbnail {
  width: 100%;
  border: 0;
  scrollbar-width: thin;
}
.slide-thumbnail > img {
  max-width: 100%;
}
.card {
  align-self: center;
}
.card > h3 > a {
  text-decoration: none;
}
.card-body {
  padding: 15px 0;
}
.card-footer > a {
  display: inline-block;
  font-size: 0.9rem;
  padding: 10px 20px;
  background: #f96;
  color: #fff;
  border: 2px #f96 solid;
  text-transform: uppercase;
}
.card-footer > a > span {
  display: inline-block;
  margin-left: 3px;
  font-size: 1rem;
  line-height: 1;
  animation: arrowslide 1s ease-in-out infinite;
}
.card-footer > a.outline {
  background: transparent;
  border-color: #f96;
  color: #f96;
}
.card-footer > a:hover,
.card-footer > a:focus {
  background-color: #ff5e62;
  border-color: #ff5e62;
}
.card-footer > a:active {
  background-color: #ef4e52;
  border-color: #ef4e52;
}
.card-footer > a.outline:hover,
.card-footer > a.outline:focus {
  color: #fff;
}
@media (max-width: 768px) {
  #header {
    padding: 30px 0;
  }
  #header-photo {
    width: 100%;
    max-width: 100px;
  }
  #header-intro {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  #content > .container > section {
    margin: 30px 0;
  }

  #talks article {
    padding: 30px 0;
  }
  #talks article + article {
    border-top: 1px #ddd solid;
  }
  .d-flex {
    display: block;
  }
  iframe, .slide-thumbnail {
    height: 300px;
    max-height: 90vh;
  }
  .card {
    margin-top: 30px;
  }
}

@media (min-width: 769px) {
  #header {
    padding: 75px 0;
  }
  #header-photo {
    width: 150px;
  }
  #header-intro {
    margin-left: 30px;
    font-size: 1.7rem;
  }

  #content > .container > section {
    margin: 60px 0;
  }

  #talks article {
    display: flex;
    margin: 60px 0;
  }
  iframe, .slide-thumbnail {
    width: 450px;
    flex-shrink: 0;
  }
  iframe {
    min-height: 315px;
  }
  .slide-thumbnail {
    min-height: 253px;
  }
  .card {
    margin-left: 30px;
  }
}

/**
 * Articles
 */
#articles {
  padding: 60px 0;
  background-color: #eaeaea;
}

/**
 * Links
 */
#links {
  padding: 60px 0;
  background-color: #222;
}
#links h2 {
  color: #f0f0f0;
}
#links .d-flex > a {
  flex: 1 0 auto;
}
#links .d-flex > a > span {
  display: block;
}

@keyframes movingbg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@keyframes arrowslide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(6px, 0);
  }
}
