.card-header > a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -1px;
}
span.muted {
  color: rgba(255, 153, 102, 0.5);
  font-style: italic;
}

/**
 * Header
 */
#header {
  position: relative;
  z-index: 1;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background: var(--color-orange);
  background: linear-gradient(-20deg, var(--color-orange), var(--color-orange-dark));
}
#header:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-orange) url(../img/workshop-presencial.jpg) center center no-repeat;
  background-size: cover;
  background-blend-mode: normal;
}
#header-photo {
  display: block;
  align-self: center;
  border-radius: 50%;
}
#header-intro {
  color: #f0f0f0;
  column-gap: 2rem;
  line-height: 1.2;
}
#header-intro > p > span {
  font-weight: 900;
}
#header-intro a > svg [fill] {
  fill: var(--header-link-color);
}
#header-intro a:first-of-type {
  margin-left: -0.6em;
}
#header-intro a + a {
  margin-left: 0.5em;
}
#header-intro > p {
  font-weight: 600;
}
#header-intro a {
  color: var(--header-link-color);
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.5em 0.6em;
  border-radius: var(--border-radius);
}
#header-intro a:hover,
#header-intro a:focus {
  color: #fff;
  background-color: var(--header-link-color);
}
#header-intro a:hover > svg [fill],
#header-intro a:focus > svg [fill] {
  fill: #fff;
}
#header-intro a > svg {
  vertical-align: middle;
}

/**
 * Content
 */
#content > .container > section > h2,
#content > section > .container > h2 {
  margin-bottom: 5px;
}


/**
* Workshops
*/
#workshops > div > p {
  font-size: 1.15em;
  margin-bottom: 1em;
  color: var(--main-color-light);
}
#workshops > div > h3 {
  margin-bottom: 15px;
}

/**
 * Talks
 */
iframe, .slide-thumbnail {
  width: 100%;
  border: 0;
  scrollbar-width: thin;
}
.slide-thumbnail > img {
  max-width: 100%;
}
.card {
  align-self: center;
}
.card > h3 > a {
  text-decoration: none;
}
.card-body {
  margin: 15px 0;
  padding-right: 15px;
}
.button-watch {
  display: inline-block;
  font-size: 0.75rem;
  padding: 8px 10px;
  color: var(--color-orange);
  text-transform: uppercase;
  background-color: #eaeaea;
  border-radius: var(--border-radius);
}
.button-watch:hover,
.button-watch:focus {
  background-color: var(--color-orange);
  color: #fff;
}
.button-watch > svg {
  vertical-align: middle;
}
.button-watch > svg > g > path,
.button-watch > svg > g > path {
  fill: var(--color-orange);
}
.button-watch:hover > svg > g > path,
.button-watch:focus > svg > g > path {
  fill: #fff;
}
.button {
  display: inline-block;
  font-weight: 500;
  padding: 12px 22px;
  background: var(--color-orange);
  color: #fff;
  border: 0;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: var(--border-radius);
}
.button > span {
  display: inline-block;
  margin-left: 3px;
  font-size: 1rem;
  line-height: 1;
  animation: arrowslide 4s ease-in-out infinite;
}
.button.outline {
  background: transparent;
  border-color: var(--color-orange);
  color: var(--color-orange);
  box-shadow: 0 0 0 2px var(--color-orange) inset;
}
.button.outline:hover,
.button.outline:focus {
  box-shadow: 0 0 0 2px var(--color-orange-dark) inset;
}
.button:hover,
.button:focus {
  color: #fff;
  background-color: var(--color-orange-dark);
  border-color: var(--color-orange-dark);
}
.button:active {
  color: #fff;
  background-color: #ef4e52;
  border-color: #ef4e52;
}
.button-watch-break {
  display: none;
}
.card-footer > a {
  margin-right: .5em;
  vertical-align: middle;
}

@media (max-width: 340px) {
  #header-intro a > span {
    display: none;
  }
}
#links .d-flex {
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  #header {
    position: relative;
    padding: 30px 0;
  }
  #header-photo {
    display: none;
  }
  #header-intro {
    margin-top: 1rem;
    font-size: 1.7rem;
  }

  section,
  #links {
    padding: 30px 0;
  }

  #talks > article {
    padding: 30px 0;
  }
  #talks > article + article {
    border-top: 1px #ddd solid;
  }
  .d-flex, .d-grid {
    display: block;
  }
  #links .d-flex {
    display: flex;
    flex-wrap: wrap;
  }
  #links .d-flex a {
    flex-basis: 50% !important;
  }
  iframe, .slide-thumbnail > img {
    height: 300px;
    max-height: 90vh;
  }
  .card {
    margin-top: 30px;
  }
  .button-watch-break {
    margin-bottom: 5px;
    display: block;
  }
}

@media (min-width: 769px) {
  #header {
    padding: 75px 0;
  }
  #header-photo {
    width: 150px;
  }
  #header-intro {
    font-size: 2.2rem;
    line-height: 1.15;
  }

  section,
  #links {
    padding: 60px 0;
  }

  #talks > article {
    display: flex;
    margin: 60px 0;
  }
  iframe,
  .slide-thumbnail,
  .slide-thumbnail > img {
    width: 450px;
    flex-shrink: 0;
  }
  #talks > article,
  iframe,
  .slide-thumbnail > img,
  .card {
    height: 315px;
  }
  .slide-thumbnail {
    min-height: 253px;
  }
  .card {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .card-body {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #ddd var(--body-bg);
  }
}

/**
 * Articles
 */
#articles, #workshops {
  background-color: #eaeaea;
}

/**
 * Links
 */
#links {
  background-color: var(--bg-black);
}
#links h2 {
  color: #f0f0f0;
  margin-bottom: 0;
}
#links .d-flex > a {
  flex: 1 0 auto;
  margin-top: 15px;
}
#links .d-flex > a > span {
  display: block;
}

@keyframes arrowslide {
  0%,
  24% {
    transform: translate(0, 0);
  }

  12% {
    transform: translate(6px, 0);
  }
}
