/* Common */
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 3rem;
  line-height: 1.5;
}
h2 {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 0;
}
h2 + p {
  margin-top: 0;
  line-height: 1.5;
}
p.lead {
  font-weight: 600;
  font-size: 1.25rem;
}
p.big-lead {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1;
  color: var(--color-orange-dark);
}
.section {
  padding: 2rem 0;
}
.section > h3 {
  margin-bottom: 1em;
}
.section > p {
  font-size: 1.1em;
  margin-bottom: 1em;
  color: var(--main-color-light);
}
.bg-white {
  background-color: #fff;
}
.bg-black {
  background-color: var(--bg-black);
  color: #ccc;
}
.bg-black h2 {
  color: #fff;
}
.bg-black h3 {
  color: #f0f0f0;
}
code.h2 {
  display: inline-block;
  padding: 0.5rem;
  font-weight: 600;
  vertical-align: middle;
  color: var(--color-orange-dark);
  background-color: #eee;
  font-size: 0.8rem;
  line-height: 1;
  margin-right: 0.5rem;
  border-radius: var(--border-radius);
}
code.h2:before {
  content: '$';
  color: #bbb;
  padding-right: .25rem;
}
.bg-black code.h2 {
  background-color: rgba(255, 255, 255, 0.1);
}
.align-items-center {
  align-items: center;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 2rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}

/* Header */
#header {
  text-shadow: none;
  background: #141e30;
  background: -webkit-linear-gradient(top left, #243b55, #141e30);
  background: linear-gradient(to bottom, #243b55, #141e30);
}
#header-intro {
  margin-left: 0;
}
#header-intro > h1 {
  margin-bottom: 1rem;
  color: #f0f0f0;
  font-weight: 900;
  line-height: 1;
}
#header-intro > h1::-moz-selection,
#header-intro > h1::selection {
  color: #fff;
  background: var(--header-link-color);
}

/* Topics */
#topics > .topics-list > div {
  display: flex;
  padding: 1.5rem;
  background-color: #eaeaea;
  border-radius: var(--border-radius);
  margin-top: 1rem;
}
#topics > .topics-list > div > div {
  flex-grow: 1;
}
#topics > .topics-list > div > div > h4 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 0.25rem;
}
#topics > .topics-list > div > svg {
  margin-left: 1rem;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  align-self: center;
}
#topics > .topics-list > div > svg path {
  fill: var(--color-orange);
}
#topics > .topics-image > video {
  display: none;
}
@media (min-width: 1201px) {
  #topics {
    display: flex;
    column-gap: 1.3rem;
    padding: 1.5rem 0;
  }
  #topics > .topics-image {
    flex-shrink: 1;
  }
  #topics > .topics-image > video {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
  #topics > .topics-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 33%;
    flex-shrink: 0;
  }
  #topics > .topics-list > div {
    margin-top: 0;
  }
}

/* About workshops */
#about-workshops > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}
#about-workshops {
  margin-top: 1rem;
}
#about-workshops > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}
#about-workshops > div > div {
  border-right: 5px var(--color-orange) solid;
  background: #2a2a2a;
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
}
@media (min-width: 769px) {
  #header-intro {
    width: 90%;
  }
  #about-workshops {
    display: flex;
    column-gap: 1.3rem;
    margin-top: 2rem;
  }
  #about-workshops > img {
    display: block;
    flex: 1 0 65.667%;
    height: auto;
    margin-bottom: 0;
  }
}
/* Blocks */
.blocks {
  margin-top: 2rem;
}
.block-white {
  margin-top: 1rem;
  display: flex;
  padding: 1rem 1.25rem;
  background: #f5f5f5;
  border-radius: var(--border-radius);
  color: var(--header-link-color);
}
.block-white > svg > g > [fill] {
  fill: var(--color-orange);
}
.block-white > img,
.block-white > svg {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}
.bg-black .blocks > div {
  color: #bbb;
}
.bg-black .blocks > div > div {
  background: #222;
}
.block-text {
  margin-left: 1rem;
}
.block-text > h4 {
  margin: 0;
  font-weight: 600;
  font-size: 1.31rem;
  line-height: 32px;
}
.block-text > p {
  font-size: 0.9rem;
}
.block-text > p:last-child {
  margin-bottom: 0;
}

/* About Me */
#about-me {
  background: #141e30;
}
#about-me-box {
  padding: 2rem;
  background: #fff;
  border-radius: 3px;
  position: relative;
}
#about-me-stats > div {
  display: flex;
  column-gap: 0.75rem;
  color: #999;
}
#about-me-stats > div > svg {
  height: 50px;
  align-self: start;
}
#about-me-stats > div > svg .fill {
  fill: var(--header-link-color);
}
#about-me-stats,
#about-me-cv,
#about-me-links {
  display: grid;
  margin: 3rem 0;
  row-gap: 2rem;
}
#about-me-cv > div > h3 {
  font-size: 1.4rem;
}
#about-me-cv-image {
  width: 100%;
  max-width: 500px;
  border-radius: var(--border-radius);
  grid-row: 1 / 1;
}
@media (max-width: 575.99px) {
  #header-intro > h1 > br {
    display: none;
  }
  #about-me {
    padding-bottom: 0;
  }
  #about-me-cv > div,
  #about-me-cv > img {
    margin-bottom: 2rem;
  }
  #about-me-box {
    border-radius: 0;
  }
}
@media (max-width: 769px) {
  #about-me > .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.about-me-link {
  display: flex;
  color: var(--color-orange);
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.6em 0.7em;
  flex-basis: 50%;
  border-radius: var(--border-radius);
}
.about-me-link > svg {
  align-self: center;
  margin-right: 0.5rem;
}
.about-me-link > span > strong {
  display: block;
}
.about-me-link:hover,
.about-me-link:focus {
  background-color: var(--color-orange);
  color: #fff;
}
.about-me-link > svg [fill] {
  fill: var(--color-orange);
}
.about-me-link:hover > svg [fill],
.about-me-link:focus > svg [fill] {
  fill: #fff;
}

/* Contact */
#contact {
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
#contact > a {
  display: flex;
  margin-top: 2rem;
}
#contact > a:last-child {
  margin-bottom: 0;
}
#contact > a > svg {
  margin-right: 1rem;
  align-self: center;
  transition: all .5s ease-in-out;
}
#contact > a > svg [fill] {
  fill: var(--color-orange);
}
#contact > a:hover > svg [fill],
#contact > a:focus > svg [fill] {
  fill: var(--color-orange-dark);
}
#contact > a > span > span {
  display: block;
}
#schedule-demo-header,
#schedule-demo {
  background: var(--header-link-color);
  border-radius: var(--border-radius);
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
#schedule-demo-header {
  padding: 0.531rem 0;
  font-size: 0.9rem;
}
#schedule-demo-header,
#header-intro a {
  color: #fff;
  display: block;
  width: 100%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border: 2px var(--header-link-color) solid;
  vertical-align: middle;
  font-weight: 400;
  text-align: center;
  flex: 0 1 100%;
}
#schedule-demo-header:is(:hover, :focus),
#header-intro a:is(:hover, :focus) {
  color: var(--header-link-color);
  border-color: #fff;
  background-color: #fff;
}
#header-intro a > span {
  font-family: Roboto, sans-serif;
}
#header-intro > .d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
#schedule-demo {
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  border: 0;
  color: #fff;
}
#schedule-demo:is(:hover, :focus) {
  opacity: 0.7;
}
#contact + a {
  color: #bbb;
  font-size: 0.8rem;
}

/* Responsiveness */
@media (min-width: 341px) {
  #header {
    padding: 3rem 0;
  }
}
@media (min-width: 500px) {
  #header-intro > .d-flex {
    max-width: 540px;
    flex-wrap: nowrap;
  }
  #schedule-demo-header {
    flex-basis: 65%;
  }
  #header-intro a {
    flex-basis: 35%;
  }
}
@media (min-width: 769px) {
  #schedule-demo-header,
  #header-intro a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #contact > a {
    flex: 0 0 auto;
    width: 50%;
  }
  h2 {
    font-size: 2rem;
  }
  #header {
    padding: 10rem 0;
  }

  .section {
    padding: 6rem 0;
  }

  .blocks {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .block-white {
    margin-top: 0;
  }

  #header-intro > h1 {
    font-size: 4rem;
  }

  #schedule-demo + p {
    margin-left: 0.5rem;
    text-transform: lowercase;
  }
}
@media (min-width: 1201px) {
  #contact > a {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .blocks {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #header-intro > h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  #about-me-box {
    padding: 3rem 4rem;
  }
  #about-me-stats,
  #about-me-cv,
  #about-me-links {
    grid-template-columns: 2fr 3fr 2fr;
    gap: 2rem 3rem;
  }
  #about-me-stats,
  #about-me-links {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6rem;
  }
  #about-me-cv-image {
    max-width: none;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}
#floating-btn {
  position: fixed;
  z-index: 2;
  display: block;
  right: 10px;
  bottom: 10px;
  width: 52px;
  height: 52px;
  padding: 10px;
  border-radius: 50%;
  background: #25d366;
  color: #fff;
}
#floating-btn:is(:hover, :focus) {
  background-color: #35e376;
}
