/* Common */
:root {
  --border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 1.5rem;
  line-height: 1.5;
}
h2 {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 0;
}
h3 {
  font-size: 1rem !important;
  line-height: 1.5;
}
.section {
  padding: 2rem 0;
}
.section > h3 {
  margin-bottom: 1em;
}
.section > p {
  font-size: 1.1em;
  margin-bottom: 1em;
  color: var(--main-color-light);
}
.bg-black {
  background-color: var(--bg-black);
  color: #bbb;
}
.bg-black h2 {
  color: #fff;
}
.bg-black h3 {
  color: #f0f0f0;
}
h2 > code {
  display: inline-block;
  padding: 0.5rem;
  vertical-align: middle;
  color: var(--color-orange-dark);
  background-color: #e5e5e5;
  font-size: 0.8rem;
  line-height: 1;
  margin-right: 0.5rem;
}
h2 > code:before {
  content: '$';
  color: #bbb;
  padding-right: .25rem;
}
h2 > code + span {
  display: block;
}
.bg-black h2 > code {
  background-color: rgba(255, 255, 255, 0.1);
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}

/* Header */
#header::before {
  background-repeat: repeat;
}
#header {
  position: relative;
}
#header > .container {
  position: relative;
  z-index: 1;
}
#header-intro {
  margin-left: 0;
}
#header-intro > h1 {
  color: #f0f0f0;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0;
}
#header-intro > h1 > span {
  font-weight: 900;
}
#header-intro > h1::-moz-selection,
#header-intro > h1::selection {
  color: #fff;
  background: var(--header-link-color);
}
#header-intro > h1 > span::-moz-selection,
#header-intro > h1 > span::selection {
  color: var(--header-link-color);
  background: #fff;
}

/* Topics */
#topics > .topics-list > div {
  display: flex;
  padding: 1.5rem;
  background-color: #1a1a1a;
  border-radius: var(--border-radius);
  margin-top: 1rem;
}
#topics > .topics-list > div > div {
  flex-grow: 1;
}
#topics > .topics-list > div > div > h4 {
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 0.25rem;
}
#topics > .topics-list > div > svg {
  margin-left: 1rem;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #333;
  border: 8px #333 solid;
  align-self: center;
}
#topics > .topics-list > div > svg path {
  fill: var(--color-orange);
}
#topics > .topics-image > video {
  display: none;
}
@media (min-width: 1201px) {
  #topics {
    display: flex;
    padding: 1.5rem 0;
  }
  #topics > .topics-image {
    flex-shrink: 1;
  }
  #topics > .topics-image > video {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
  #topics > .topics-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3rem;
    flex-basis: 33%;
    flex-shrink: 0;
  }
  #topics > .topics-list > div {
    margin-top: 0;
  }
}

/* Blocks */
.blocks {
  margin-right: -15px;
  margin-left: -15px;
}
.blocks > div {
  padding: 15px;
  flex: 0 0 100%;
  color: var(--header-link-color);
}
.blocks .block-white {
  display: flex;
  padding: 1.5rem;
  background: #fdfdfd;
  box-shadow: 0 0 5px 5px #f0f0f0;
  border-radius: var(--border-radius);
}
.block-white > svg > g > [fill] {
  fill: var(--color-orange);
}
.block-white > img,
.block-white > svg {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}
.bg-black .blocks > div {
  color: #bbb;
}
.bg-black .blocks > div > div {
  background: #222;
}
.block-text {
  margin-left: 1rem;
}
.block-text > h4 {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 36px;
}
.block-text > p {
  font-size: 0.9rem;
}
.block-text > p:last-child {
  margin-bottom: 0;
}

/* About Me */
#about-me {
  background: var(--color-orange) url(../img/profile-large.jpg) top left / cover no-repeat fixed;
  background-blend-mode: soft-light;
}
#about-me > .container {
  display: flex;
  justify-content: end;
}
#about-me > .container > div {
  background: #fff;
  padding: 4rem;
  border-radius: var(--border-radius);
}
@media (min-width: 1201px) {
  #about-me > .container > div {
    width: 50%;
  }
}
#about-me > .container > div > p {
  margin-bottom: 1.5rem;
}
#about-me > .container > div > div > a {
  display: flex;
  color: var(--header-link-color);
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.6em 0.7em;
  flex-basis: 50%;
  border-radius: var(--border-radius);
}
#about-me > .container > div > div > a > svg {
  align-self: center;
  margin-right: 0.5rem;
}
#about-me > .container > div > div > a > span > strong {
  display: block;
}
#about-me > .container > div > div > a:hover,
#about-me > .container > div > div > a:focus {
  background-color: var(--header-link-color);
  color: #fff;
}
#about-me > .container > div > div > a > svg [fill] {
  fill: var(--header-link-color);
}
#about-me > .container > div > div > a:hover > svg [fill],
#about-me > .container > div > div > a:focus > svg [fill] {
  fill: #fff;
}

/* Contact */
#contact {
  flex-wrap: wrap;
}
#contact > a {
  display: flex;
  margin-top: 2rem;
}
#contact > a:last-child {
  margin-bottom: 0;
}
#contact > a > svg {
  margin-right: 1rem;
  align-self: center;
  transition: all .5s ease-in-out;
}
#contact > a > svg [fill] {
  fill: var(--color-orange);
}
#contact > a:hover > svg [fill],
#contact > a:focus > svg [fill] {
  fill: var(--color-orange-dark);
}
#contact > a > span > span {
  display: block;
}

/* Responsiveness */
@media (min-width: 341px) {
  #header {
    padding: 3rem 0;
  }
}
@media (min-width: 769px) {
  #contact > a {
    flex: 0 0 auto;
    width: 50%;
  }
  h2 {
    font-size: 2rem;
  }
  #header {
    padding: 10rem 0;
  }

  .section {
    padding: 6rem 0;
  }

  .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .blocks > div {
    flex-basis: 50%;
  }

  #header-intro > h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1201px) {
  #contact > a {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .blocks > div {
    flex-basis: 33.333333%;
  }

  #header-intro > h1 {
    font-size: 3.5rem;
  }

  h2 {
    margin-bottom: 15px;
  }
  h2 > code + span {
    line-height: 1;
  }
}
