/* Common */
:root {
  --header-link-color: #fe5f55;
  --purple: #41295a;
  --purple-dark: #2f0743;
}
html {
  scroll-behavior: smooth;
  font-size: 18px;
}
h1 {
  font-size: 3rem;
  line-height: 1.5;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 10px 0 0;
}
h2 > b {
  color: var(--color-orange-dark);
  font-weight: 900;
}
h2 + p {
  margin: 0.5rem 0 2rem;
  font-size: 1.1em;
  line-height: 1.5;
}
p.lead {
  font-weight: 600;
  font-size: 1.25rem;
}
p.big-lead {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1;
  color: var(--color-orange-dark);
}
.section {
  padding: 2rem 0;
}
.section > h3 {
  margin-bottom: 1em;
}
.section > p {
  font-size: 1.1em;
  margin-bottom: 1em;
  color: var(--main-color-light);
}
.bg-white {
  background-color: #fff;
}
.bg-black {
  background-color: var(--bg-black);
  color: #ccc;
}
.bg-black h2 {
  color: #fff;
}
.bg-black h3 {
  color: #f0f0f0;
}
code.h2 {
  font-family: Consolas, monospace;
  padding: 0.5rem;
  font-weight: 500;
  color: var(--purple);
  background-color: #eee;
  font-size: 0.8rem;
  line-height: 1;
  border-radius: var(--border-radius);
}
code.h2:before {
  content: '$';
  color: var(--main-color-light);
  padding-right: .25rem;
}
.align-items-center {
  align-items: center;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mt-4 {
  margin-top: 2rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.text-center {
  text-align: center;
}

/* Header */
#header-wrapper {
  text-shadow: none;
  background: var(--purple) linear-gradient(to top, var(--purple), var(--purple-dark));
}
#header-intro {
  margin-left: 0;
}
#header-intro > h1 {
  font-size: 3.4rem;
  margin-bottom: 1rem;
  color: #f0f0f0;
  font-weight: 700;
  line-height: 1;
}
#header-intro > h1:first-of-type {
  margin-bottom: 0 !important;
}
#header-intro > h1::-moz-selection,
#header-intro > h1::selection {
  color: #fff;
  background: var(--header-link-color);
}

#header-slider > span {
  color: var(--color-orange-dark);
  font-weight: 900;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: 0.8em;
  background: var(--purple-dark);
  will-change: background-color;
  transition: background 0.5s;
}
#navbar.scrolled {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#navbar > .container {
  display: flex;
  justify-content: space-between;
}
#navbar > .container > a {
  font-weight: 700;
}
#navbar > .container > a > img {
  height: 1.5em;
  vertical-align: text-bottom;
}
#navbar > .container > ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: end;
  list-style: none;
}
#navbar > .container > ul > li > a,
#navbar > .container > a {
  display: block;
  padding: 16px 10px;
}
#navbar > .container > ul > li > a:target {
  font-weight: 900;
}
#navbar > .container > ul > li > a {
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 500;
}
#navbar > .container > ul > li > a:is(:hover, :focus) {
  color: var(--color-orange-dark);
}
@media (max-width: 1199.99px) {
  #header-slider > span {
    display: grid;
    grid-template-columns: 1fr;
    height: 2em;
  }
  #header-slider > span > span {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  #header-slider > span > span:nth-child(1) {
    animation: slideUp1 12s ease-in infinite;
  }
  #header-slider > span > span:nth-child(2) {
    animation: slideUp1 12s ease-in infinite;
    animation-delay: 4s;
    opacity: 0;
  }
  #header-slider > span > span:nth-child(3) {
    animation: slideUp1 12s ease-in infinite;
    animation-delay: 8s;
    opacity: 0;
  }
  #header-slider > span:is(:hover, :focus) > span {
    animation-play-state: paused;
  }
  @keyframes slideUp1 {
    0% { opacity: 1; }
    32% { opacity: 1; }
    33% { opacity: 0; }
    66% { opacity: 0; }
    99% { opacity: 0; }
  }
}

/* Topics */
#topics > .topics-list > div {
  display: flex;
  padding: 1.5rem;
  background-color: #eaeaea;
  border-radius: var(--border-radius);
}
#topics > .topics-list > div + div {
  margin-top: 1rem;
}
#topics > .topics-list > div > div {
  flex-grow: 1;
}
#topics > .topics-list > div > div > h4 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 0.25rem;
}
#topics > .topics-list > div > svg {
  margin-left: 1rem;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  align-self: center;
}
#topics > .topics-list > div > svg path {
  fill: var(--color-orange);
}
@media (min-width: 1200px) {
  #header-slider {
    height: 1em;
    overflow: hidden;
  }
  #header-slider > span {
    position: relative;
    bottom: 0;
    animation: slideUp 12s ease-in infinite;
    color: var(--color-orange-dark);
    font-weight: 900;
  }
  #header-slider > span:is(:hover, :focus) {
    animation-play-state: paused;
  }
  #header-slider > span > span {
    display: block;
    width: 100%;
    height: 100%;
  }
  @keyframes slideUp {
    0% { bottom: 0; }     32% { bottom: 0; }
    33% { bottom: 100%; } 65% { bottom: 100%; }
    66% { bottom: 200%; } 99% { bottom: 200%; }
    100% { bottom: 0; }
  }

  #topics > .topics-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  #topics > .topics-list > div {
    flex-basis: calc(50% - 0.5rem);
  }
  #topics > .topics-list > div + div {
    margin-top: 0;
  }
}
@media (max-width: 991.99px) {
  #navbar {
    display: none;
  }
  #header-intro > h1 > br {
    display: none;
  }
}

/* About workshops */
#about-workshops > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}
#about-workshops {
  margin-top: 1rem;
}
#about-workshops > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}
#about-workshops > div > div {
  border-right: 5px var(--color-orange) solid;
  background: #2a2a2a;
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
}
/* Blocks */
.blocks {
  margin-top: 2rem;
}
.block-white {
  margin-top: 1rem;
  /*display: flex;*/
  padding: 1rem 1.25rem;
  background: #f5f5f5;
  border-radius: var(--border-radius);
}
.block-white > svg > g > [fill] {
  fill: #fff;
}
.block-white > img,
.block-white > svg {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  background: var(--color-orange);
  padding: 5px;
  border-radius: var(--border-radius);
}
.bg-black .blocks > div {
  color: #bbb;
}
.bg-black .blocks > div > div {
  background: #222;
}
.block-text > h4 {
  margin: 0;
  font-weight: 600;
  font-size: 1.31rem;
  line-height: 32px;
}
.block-text > p:last-child {
  margin-bottom: 0;
}

/* About Me */
#about-me-box {
  padding: 2rem;
  background: #fff;
  border-radius: var(--border-radius);
  position: relative;
}
#about-me-stats > div {
  display: flex;
  column-gap: 0.75rem;
  color: #6d7275;
}
#about-me-stats > div > svg {
  height: 50px;
  align-self: start;
}
#about-me-stats > div > svg .fill {
  fill: var(--header-link-color);
}
#about-me-stats,
#about-me-cv,
#about-me-links {
  display: grid;
  margin-top: 3rem;
  row-gap: 2rem;
}
#about-me-cv > div > h3 {
  font-size: 1.4rem;
}
#about-me-cv-image {
  width: 100%;
  max-width: 500px;
  border-radius: var(--border-radius);
  grid-row: 1 / 1;
}
@media (max-width: 575.99px) {
  #sobre {
    padding-bottom: 0;
  }
  #about-me-box {
    border-radius: 0;
  }
}
@media (max-width: 769px) {
  #sobre > .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.about-me-link {
  display: flex;
  color: var(--color-orange);
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.6em 0.7em;
  flex-basis: 50%;
  border-radius: var(--border-radius);
}
.about-me-link > svg {
  align-self: center;
  margin-right: 0.5rem;
}
.about-me-link > span > strong {
  display: block;
}
.about-me-link:hover,
.about-me-link:focus {
  background-color: var(--color-orange);
  color: #fff;
}
.about-me-link > svg [fill] {
  fill: var(--color-orange);
}
.about-me-link:hover > svg [fill],
.about-me-link:focus > svg [fill] {
  fill: #fff;
}

/* Testimonials */
#testimonials {
  flex-wrap: wrap;
  justify-content: center;
}
#testimonials > div {
  margin-top: 2rem;
  text-align: center;
}
.video-js {
  overflow: hidden;
  margin: 0 auto 1rem;
  border-radius: var(--border-radius);
}
.video-js > .vjs-tech {
  object-fit: cover;
}
.video-js:not(.vjs-playing) > .vjs-tech {
  opacity: 0.7;
}
.video-js.vjs-big-play-centered .vjs-big-play-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-top: -2rem;
  margin-left: -2rem;
  color: var(--color-orange-dark);
  border: 0;
  line-height: 4rem;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.65);
}
.video-js.vjs-big-play-centered:hover .vjs-big-play-button,
.video-js.vjs-big-play-centered .vjs-big-play-button:focus {
  background-color: rgba(0, 0, 0, 0.75);
}
.testimonial-reference {
  color: #6d7275;
}
.testimonial-reference > span {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-orange);
  transition: color .5s ease-in-out;
}
.testimonial-reference:is(:hover, :focus),
.testimonial-reference:is(:hover, :focus) > span {
  color: var(--color-orange-dark);
}

/* Contact */
#contact {
  display: block;
  margin-bottom: 2rem;
}
#contact > a {
  display: flex;
  margin-top: 2rem;
}
#contact > a:last-child {
  margin-bottom: 0;
}
#contact > a > svg {
  margin-right: 1rem;
  align-self: center;
  transition: all .5s ease-in-out;
}
#contact > a > svg [fill] {
  fill: var(--color-orange-dark);
}
#contact > a:hover > svg [fill],
#contact > a:focus > svg [fill] {
  fill: var(--color-orange);
}
#contact > a > span > span {
  display: block;
}
#schedule-demo-header,
.schedule-demo {
  background: var(--header-link-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.schedule-demo,
#schedule-demo-header,
#header-intro a {
  font-family: Heebo, Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
}
#schedule-demo-header,
#header-intro a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 1rem 0.5rem;
  border: 2px var(--border-color) solid;
  border-radius: var(--border-radius);
  vertical-align: middle;
  text-align: center;
  flex: 0 1 100%;
}
#header-intro a {
  --border-color: #fff;
}
#schedule-demo-header:is(:hover, :focus),
#header-intro a:is(:hover, :focus) {
  color: var(--header-link-color);
  border-color: #fff;
  background-color: #fff;
}
#header-intro > .d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.schedule-demo {
  padding: 1rem 1.25rem;
  font-size: 1.15rem;
  border: 0;
  color: #fff;
}
.schedule-demo:is(:hover, :focus) {
  background-color: var(--color-orange);
}
.bg-black .schedule-demo:is(:hover, :focus) {
  color: var(--header-link-color);
  background-color: #fff;
}
#contact + a {
  color: #bbb;
  font-size: 0.8rem;
}

/* Responsiveness */
@media (min-width: 341px) {
  #header {
    padding-top: 3rem;
  }
  .text-center > .schedule-demo {
    width: 100%;
  }
}
@media (min-width: 500px) {
  #testimonials {
    column-gap: 2rem;
  }
  .text-center > .schedule-demo {
    width: auto;
  }
}
@media (min-width: 769px) {
  #header-intro > .d-flex {
    max-width: 640px;
    flex-wrap: nowrap;
  }
  #schedule-demo-header {
    flex-basis: 65%;
  }
  #header-intro a {
    flex-basis: 35%;
  }
  #schedule-demo-header,
  #header-intro a {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.3rem;
  }
  #contact {
    display: flex;
    flex-wrap: wrap;
  }
  #contact > a {
    flex: 0 0 auto;
    width: 50%;
  }
  h2 {
    font-size: 2rem;
  }
  #header {
    padding-top: 7rem;
  }

  .section {
    padding: 6rem 0;
  }

  .blocks {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .block-white {
    margin-top: 0;
  }

  #header-intro > h1 {
    font-size: 5rem;
  }

  #schedule-demo + p {
    margin-left: 0.5rem;
    text-transform: lowercase;
  }
}
@media (min-width: 1200px) {
  #contact > a {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .blocks {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #header-intro > h1 {
    font-size: 6rem;
    letter-spacing: -5px;
    margin-bottom: 2rem;
  }

  #about-me-box {
    padding: 3rem 4rem;
  }
  #about-me-stats,
  #about-me-cv,
  #about-me-links {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 3rem;
  }
  #about-me-cv {
    grid-template-columns: 2fr 3fr 2fr;
  }
  #about-me-stats,
  #about-me-links {
    column-gap: 6rem;
  }
  #about-me-cv-image {
    max-width: none;
    grid-column: 2 / 2;
  }
  #about-workshops {
    display: flex;
    column-gap: 1.3rem;
    margin-top: 2rem;
  }
  #about-workshops > img {
    display: block;
    flex: 1 0 65.667%;
    height: auto;
    margin-bottom: 0;
  }
}
#floating-btn {
  position: fixed;
  z-index: 2;
  display: none;
  right: 10px;
  bottom: 10px;
  width: 52px;
  height: 52px;
  padding: 10px;
  border-radius: 50%;
  background: #25d366;
  color: #fff;
}
#floating-btn:is(:hover, :focus) {
  background-color: #35e376;
}

/* Bullet points */
#topics-bullets-points {
  list-style: none;
  width: calc(100% - 30px);
}
#topics-bullets-points > li {
  position: relative;
  padding: 5px 0 5px 20px;
}
#topics-bullets-points > li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--color-orange);
  border-radius: 50%;
  animation: pulsar 1s infinite;
}
#topics-bullets-points > li::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: var(--color-orange-dark);
  border-radius: 50%;
}

@keyframes pulsar {
  0% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-50%) scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-50%) scale(1.5);
    opacity: 0;
  }
}
