[submodule "slides/criptografia-php"]
	path = slides/criptografia-php
	url = https://github.com/vcampitelli/slides-criptografia-php.git
	branch = master
[submodule "slides/expressive-oauth2-jwt"]
	path = slides/expressive-oauth2-jwt
	url = https://github.com/vcampitelli/slides-expressive-oauth2-jwt.git
	branch = master
[submodule "slides/libsodium-php"]
	path = slides/libsodium-php
	url = https://github.com/vcampitelli/slides-libsodium-php.git
	branch = master
[submodule "slides/boas-praticas"]
	path = slides/boas-praticas
	url = https://github.com/vcampitelli/slides-boas-praticas.git
	branch = master
[submodule "slides/php-fora-da-web"]
	path = slides/php-fora-da-web
	url = https://github.com/vcampitelli/slides-php-fora-da-web.git
	branch = master
