/**
 * @link https://hankchizljaw.com/wrote/a-modern-css-reset/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * App CSS
 */
body {
  display: flex;
  font-family: "Roboto Slab", Roboto, sans-serif;
}
#sidebar,
#main {
  padding: 2rem;
}
#sidebar {
  background: #eee;
}
@media (min-width: 1024px) {
  #sidebar {
    width: 250px;
  }
}
@media (min-width: 1366px) {
  #sidebar {
    width: 300px;
  }
}
ul {
  list-style: square inside;
}
ul.nolist {
  list-style: none;
}
h1, .h1 {
  font-size: 2rem;
}
h2, .h2 {
  font-size: 1.7rem;
}
h3, .h3 {
  font-size: 1.4rem;
}
h4, .h4 {
  font-size: 1.2rem;
}
h5, .h5 {
  font-size: 1.1rem;
}

/**
 * Timeline
 */
#timeline > li {
  display: flex;
}
#timeline > li > .date,
#timeline > li > .description {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#timeline > li > .date {
  width: 5rem;
  margin-right: 2rem;
  text-align: right;
  flex-shrink: 0;
}
#timeline > li > .date > span {
  color: #aaa;
}
#timeline > li > .description {
  border-left: 2px #ccc solid;
  padding-left: 2rem;
}
