/*
 * Theming
 */
.reveal img {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
}
.reveal img.image-white {
  background: #fff !important;
  padding: 5px !important;
  max-width: 50% !important;
}
.reveal .link-source {
  font-size: 0.5em;
}
.reveal .slides section .fragment.highlight-green.visible,
.reveal .slides section .fragment.highlight-yellow.visible {
  color: #e7ad52;
}
pre.smaller-font {
  font-size: 0.45em;
}

/*
 * Custom
 */
#footer {
  position: fixed;
  bottom: 0;
  left: 1em;
  color: #555;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}
#footer > p {
  margin: 1em 0;
}
#footer > p > a {
  color: #555;
}
#title {
  font-size: 3em;
}
.col-half {
  float: left;
  width: 46%;
  margin: 0 2%;
}

/*
 * JWT
 */
#pre-jwt {
  font-size: 1em;
  white-space: pre-line;
  word-break: break-all;
  box-shadow: none;
}
.highlight-current-green.jwt-header.visible,
.highlight-current-green.jwt-header.current-fragment {
  color: #fb015b !important;
}
.highlight-current-green.jwt-payload.visible,
.highlight-current-green.jwt-payload.current-fragment {
  color: #d63aff !important;
}
.highlight-current-green.jwt-signature.visible,
.highlight-current-green.jwt-signature.current-fragment {
  color: #00b9f1 !important;
}
.fragment-jwt-code {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transition: opacity .2s ease !important;
  transition: opacity .2s ease !important;
}
.fragment-jwt-code > pre {
  margin: 0 !important;
}

/*
 * Output
 */
pre > code.output-token {
  white-space: pre-wrap;
  word-break: break-all;
}

/*
 * Scrollbar
 */
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #272822;
}
::-webkit-scrollbar {
	width: 12px;
	background-color: #272822;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #555;
}
