---
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        <meta charset="utf-8">

        <title>Vinícius Campitelli</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet" type="text/css">
        <link href="{{ "/css/index.css?d=202011101908" | prepend: site.baseurl_root }}" rel="stylesheet" type="text/css">
        <link href="{{ "/css/font.css?d=202010081830" | prepend: site.baseurl_root }}" rel="stylesheet" type="text/css">

        <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon.png">
        <link rel="shortcut icon" href="/img/favicon.png">
    </head>
    <body>
        <div class="container">
            <div id="intro" class="d-flex">
                <header>
                    <img src="{{ "/img/profile.jpg" | prepend: site.baseurl_root }}" alt="Vinícius Campitelli">
                    <h1 id="title">
                        Vinícius<br>
                        <span>Campitelli</span>
                    </h1>
                </header>
                <div class="ml-md-2 mt-2 mt-md-0">
                    <i class="icon-location"></i> {% t LOCATION %}<br>
                    <i class="icon-hourglass-3"></i> {% t AGE %}
                </div>
                <div class="ml-md-2">
                    <a href="mailto:eu@viniciuscampitelli.com" title="Email: eu@viniciuscampitelli.com">
                        <i class="icon-envelope"></i> eu@viniciuscampitelli.com
                    </a>
                    <a href="https://wa.me/5511991669190" class="d-print-only" title="Telefone: (11) 99166-9190">
                        <!--?xml version="1.0" encoding="iso-8859-1"?-->
                        <svg id="svg-phone" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 891.024 891.024" xml:space="preserve">
                            <g>
                                <path d="M2.8,180.875c46.6,134,144.7,286.2,282.9,424.399c138.2,138.2,290.4,236.301,424.4,282.9c18.2,6.3,38.3,1.8,52-11.8
                                    l92.7-92.7l21.6-21.6c19.5-19.5,19.5-51.2,0-70.7l-143.5-143.4c-19.5-19.5-51.2-19.5-70.7,0l-38.899,38.9
                                    c-20.2,20.2-52.4,22.2-75,4.6c-44.7-34.8-89-73.899-131.9-116.8c-42.9-42.9-82-87.2-116.8-131.9c-17.601-22.6-15.601-54.7,4.6-75
                                    l38.9-38.9c19.5-19.5,19.5-51.2,0-70.7l-143.5-143.5c-19.5-19.5-51.2-19.5-70.7,0l-21.6,21.6l-92.7,92.7
                                    C1,142.575-3.5,162.675,2.8,180.875z"></path>
                            </g>
                        </svg>
                        {% t TELPEHONE %}
                    </a>
                    <a href="https://br.linkedin.com/in/viniciuscampitelli" class="d-screen-only" title="LinkedIn: Vinícius Campitelli">
                        <i class="icon-linkedin-square"></i> Vinícius Campitelli
                    </a>
                </div>
                <div class="ml-md-2 d-screen-only">
                    <a href="https://twitter.com/vcampitelli" title="Twitter: @vcampitelli">
                        <i class="icon-twitter-square"></i> vcampitelli
                    </a>
                    <a href="https://github.com/vcampitelli" title="GitHub: @vcampitelli">
                        <i class="icon-github-square"></i> vcampitelli
                    </a>
                </div>
            </div>

            <main id="main">
                <section>
                    <h1>{% t ABOUT %}</h1>
                    <p>
                        {% t ABOUT_INTRO %}
                    </p>
                    <p class="mt-2">
                        {% t ABOUT_JOB_OPPORTUNITIES %}
                    </p>
                    <ul class="ml-2">
                        <li>{% t ABOUT_JOB_CONTENT_CREATION %};</li>
                        <li>{% t ABOUT_JOB_LEAD %};</li>
                        <li>{% t ABOUT_JOB_CONSULTING %};</li>
                        <li>{% t ABOUT_JOB_DEVELOPER %}.</li>
                    </ul>
                    </section>
                </section>

                <section>
                    <h1>{%t SKILLS %}</h1>
                    <div id="skills">
                        <p>{% t SKILL_LANGUAGES %}</p>
                        <ul class="label-list">
                            <li class="code">PHP</li>
                            <li class="code">Python</li>
                            <li class="code">Shell Script</li>
                            <li class="code">Node.js</li>
                            <li class="code">React</li>
                            <li class="code">HTML</li>
                            <li class="code">CSS</li>
                            <li class="code">JavaScript</li>
                        </ul>

                        <p>{% t SKILL_DB %}</p>
                            <ul class="label-list">
                            <li>{% t SKILL_DB_MODELING %}</li>
                            <li class="code">NoSQL</li>
                            <li class="code">SQL</li>
                        </ul>

                        <p>{% t SKILL_CYBERSECURITY %}</p>
                        <ul class="label-list">
                            <li>{% t SKILL_INFORMATION_SECURITY %}</li>
                            <li>{% t SKILL_CRYPTOGRAPHY %}</li>
                            <li>{% t SKILL_BLUE_TEAM_OPS %}</li>
                            <li class="code">libsodium</li>
                            <li class="code">openssl</li>
                        </ul>

                        <p>{% t SKILL_ENGINEERING %}</p>
                        <ul class="label-list">
                            <li>{% t SKILL_SOFTWARE_ENGINEERING %}</li>
                            <li>{% t SKILL_SYSTEMS_ARCH %}</li>
                            <li>{% t SKILL_CODE_QUALITY %}</li>
                        </ul>

                        <p>{% t SKILL_TECH %}</p>
                        <ul class="label-list">
                            <li class="code">Daemons</li>
                            <li class="code">Git</li>
                            <li class="code">Message Queue</li>
                            <li class="code">Threads</li>
                            <li class="code">WebSockets</li>
                        </ul>

                        <p>{% t SKILL_INFRA %}</p>
                        <ul class="label-list">
                            <li>{% t SKILL_CLOUD %}</li>
                            <li>{% t SKILL_NETWORKING %}</li>
                            <li>DevOps</li>
                            <li class="code">Docker</li>
                            <li class="code">Linux</li>
                        </ul>

                        <p>{% t SKILL_MANAGEMENT %}</p>
                        <ul class="label-list">
                            <li>{% t SKILL_PEOPLE_MANAGEMENT %}</li>
                            <li>{% t SKILL_PROCESS_MANAGEMENT %}</li>
                            <li>{% t SKILL_LEADERSHIP %}</li>
                            <li>{% t SKILL_AGILE %}</li>
                        </ul>
                    </div>
                </section>

            {% if site.lang == 'pt' %}
                <section class="d-screen-only">
                    <h1>{% t TIMELINE %}</h1>
                    <ol id="timeline">
                        <li>
                            <div class="date">
                                2020<br>
                                <span>{% t MONTH_OCTOBER %}</span>
                            </div>
                            <div class="description">
                                Para começar uma nova empreitada em produção de conteúdos (artigos, vídeos, cursos e outros),
                                me afastei permanentemente do Curseduca
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2019<br>
                                <span>{% t MONTH_NOVEMBER %}</span>
                            </div>
                            <div class="description">
                                Saí da MT4 Tecnologia para me dedicar 100% ao empreendedorismo através do Curseduca
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2019<br>
                                <span>{% t MONTH_JANUARY %}</span>
                            </div>
                            <div class="description">
                                Deixei o posto de Tech Lead da @MediaPost para me dedicar à uma empresa de cibersegurança do grupo, onde desenvolvi o
                                framework que seria utilizado como base para a nova versão do produto e realizei a implantação de controles de segurança
                                no processo de DevOps de um grande e-commerce nacional
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2016<br>
                                <span>{% t MONTH_OCTOBER %}</span>
                            </div>
                            <div class="description">
                                Estive presente na <a href="https://www.zendcon.com/" target="_blank" rel="noopener">ZendCon</a>, conferência de PHP realizada em Las Vegas, para
                                acompanhar as novidades e trazer o que estava acontecendo lá fora para minha equipe
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2016<br>
                                <span>{% t MONTH_JANUARY %}</span>
                            </div>
                            <div class="description">
                                Me tornei <em>tech lead</em> na <a href="https://www.mediapost.com.br/" target="_blank" rel="noopener">@MediaPost Email Marketing</a>,
                                uma empresa do grupo MT4, que enviava mais de 1 bilhão de emails por ano, sendo responsável pelo produto como um todo (análise, desenvolvimento,
                                implantação, DevOps) e também da formação da equipe
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2015<br>
                                <span>{% t MONTH_OCTOBER %}</span>
                            </div>
                            <div class="description">
                                Ministrei alguns cursos livres (presenciais e online) na <a href="https://4linux.com.br/" target="_blank" rel="noopener">4Linux</a>, como HTML, CSS, JavaScript e PhoneGap
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2013<br>
                                <span>{% t MONTH_SEPTEMBER %}</span>
                            </div>
                            <div class="description">
                                Fundei com um sócio o <a href="https://curseduca.com/" target="_blank" rel="noopener">Curseduca</a>, uma startup na área de e-learning que então funcionava como um
                                marketplace de cursos online mas se transformou em uma plataforma SaaS para produtores de conteúdos
                                e empresas que queiram capacitar colaboradores e/ou clientes
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2013<br>
                                <span>{% t MONTH_JANUARY %}</span>
                            </div>
                            <div class="description">
                                Iniciei meu trabalho na <a href="https://mt4.com.br/" target="_blank" rel="noopener">MT4 Tecnologia</a> como Desenvolvedor Web Full-stack, atuando principalmente
                                em projetos de automação de redes
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2010
                            </div>
                            <div class="description">
                                Comecei com um sócio um projeto de hospedagem e criação de sites
                                chamado <a href="https://versatil.eti.br/" target="_blank" rel="noopener">versátil</a>
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2009
                            </div>
                            <div class="description">
                                Ingressei no curso de Bacharel em Ciência da Computação pela Universidade Federal de São Carlos
                                <em>(onde me formei em 2012)</em>
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2007
                            </div>
                            <div class="description">
                                Após ter feito alguns sites com HTML, CSS e JavaScript, criei o meu primeiro utilizando PHP
                            </div>
                        </li>
                        <li>
                            <div class="date">
                                2005
                            </div>
                            <div class="description">
                                Tive meu primeiro contato com programação através de mIRC Scripting, linguagem de programação
                                própria do <a href="https://www.mirc.com/" target="_blank" rel="noopener">mIRC</a>, um cliente de bate-papo do protocolo IRC
                            </div>
                        </li>
                    </ol>
                </section>
            {% endif %}

                <section id="section-pro-education">
                    <div class="d-flex half">
                        <div>
                            <section>
                                <h1>{% t PROFESSIONAL %}</h1>

                                <div class="mt-2 w-half">
                                    <span class="small text-muted">2021</span>
                                    <p class="bold">Impacta</p>
                                    <p>{% t PRO_IMPACTA_DESCRIPTION %}</p>
                                </div>
                                <div class="mt-2 w-half">
                                    <span class="small text-muted">2013 - 2020</span>
                                    <p class="bold">Curseduca</p>
                                    <p>{% t PRO_CURSEDUCA_DESCRIPTION %}</p>
                                </div>
                                <div class="mt-2 w-half">
                                    <span class="small text-muted">2013 - 2019</span>
                                    <p class="bold">MT4 Tecnologia</p>
                                    <p>&bull; {% t MT4_JOB_DEV %}</p>
                                    <p>&bull; {% t MT4_JOB_LEAD %}</p>
                                    <p>&bull; {% t MT4_JOB_CYBER %}</p>
                                </div>
                                <div class="mt-2 w-half">
                                    <span class="small text-muted">2015</span>
                                    <p class="bold">4Linux</p>
                                    <p>{% t PRO_4LINUX_DESCRIPTION %}</p>
                                </div>
                            </section>
                        </div>

                        <div class="ml-md-4">
                            <section>
                                <h1>{% t EDUCATION %}</h1>

                                <div>
                                    <span class="small text-muted">2009-2012</span>
                                    <p class="bold">Universidade Federal de São Carlos</p>
                                    <p>{% t EDUCATION_UNIVERSITY_DESCRIPTION %}</p>
                                </div>

                                <div class="mt-2">
                                    <p class="bold">{% t OPEN_COURSES %}</p>
                                    <div id="featured-courses" class="d-flex">
                                        <ul>
                                            <li>LINCE <span>@ MasterMind SP</span><br><span class="smaller ml-1">{% t COURSE_LINCE_DESCRIPTION %}</span></li>
                                            <li>{% t COURSE_NLP %} <span>@ Ápice</span></li>
                                            <li>{% t COURSE_SALES %} <span>@ Insper</span></li>
                                            <li>{% t COURSE_SPEAKING %} <span>@ The Speaker</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </section>

                            <section class="mt-3">
                                <h1>{% t LANGUAGES %}</h1>
                                <div class="d-flex">
                                    <div>
                                        <p class="bold">{% t ENGLISH %}</p>
                                        {% t LANGUAGE_FLUENT %}
                                    </div>
                                    <div class="ml-md-2">
                                        <p class="bold">{% t SPANISH %}</p>
                                        {%t LANGUAGE_INTERMEDIATE %}
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>

                <section id="talks-wrapper">
                    <h1>{% t TALKS %}</h1>
                    <p>{% t TALKS_DESCRIPTION %}</p>
                    <div id="talks">
                        <div class="d-flex flex-50 mt-2">
                            <div>
                                <p>The Developers Conference</p>
                                São Paulo: Online 2020, 2019<br>
                                Recife: Online 2020, 2019<br>
                                Florianópolis: Online 2020, 2018
                            </div>
                            <div>
                                <p>PHP Conference</p>
                                Porto Alegre 2018, 2019, Online 2020<br>
                                Osasco 2017
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <p>PHP Community Summit</p>
                                São Paulo 2019 (<a href="https://www.youtube.com/watch?v=kUGhNbqptcA">{% t TALKS_WATCH %}</a>)<br>
                                São Paulo 2018 (<a href="https://www.youtube.com/watch?v=NEMwgMhGB4A">{% t TALKS_WATCH %}</a>)
                            </div>
                            <div>
                                <p>PHP Experience</p>
                                São Paulo 2018 (<a href="https://www.youtube.com/watch?v=S1gLE6xH06s">{% t TALKS_WATCH %}</a>)
                            </div>
                            <div>
                                <p>DarkMira Tour</p>
                                Brasília 2018
                            </div>
                            <div>
                                <p>PHPeste</p>
                                Recife 2019<br>
                                Fortaleza 2017
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <p>PHPSC Conference</p>
                                Blumenau 2019<br>
                                Florianópolis 2018
                            </div>
                            <div>
                                <p>PHP Day Curitiba</p>
                                Curitiba 2017
                            </div>
                            <div>
                                <p>Meetanços</p>
                                {% t TALKS_LIBSODIUM_MEETUP %} (<a href="https://www.youtube.com/watch?v=Vd2lQNOzBr4">{% t TALKS_WATCH %}</a>)
                            </div>
                            <div>
                                <p>CapiConf</p>
                                Online 2020
                            </div>
                            <div>
                                <p>PHPSP</p>
                                {% t TALKS_PHPSP_LIVE_SECURITY %} (<a href="https://www.youtube.com/watch?v=kYY-DjrN55U">{% t TALKS_WATCH %}</a>)
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer>
                <div id="footer-text" class="text-muted">
                    Vinícius Campitelli <span class="small">&bull;</span>
                    <a href="https://viniciuscampitelli.com">viniciuscampitelli.com</a>
                </div>
                <ul id="i18n-flags" class="d-screen-only">
                    <!-- https://github.com/lipis/flag-icon-css -->
                {% if site.lang == "pt" %}
                    {% capture link1 %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                    <li><a href="{{ link1 }}"><img src="{{ "/img/flag/us.svg" | prepend: site.baseurl_root }}" alt="{% t lang.ENGLISH %}" title="{% t lang.ENGLISH %}"></a></li>
                {% elsif site.lang == "en" %}
                    {% capture link2 %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                    <li><a href="{{ link2 }}"><img src="{{ "/img/flag/br.svg" | prepend: site.baseurl_root }}" alt="{% t lang.PORTUGUESE %}" title="{% t lang.PORTUGUESE %}"></a></li>
                    {% endif %}
                </ul>
            </footer>
        </div>
    </body>

</html>
