.max-width {
  max-width: 1024px;
}
.red {
  color: #c23;
}
ul.squared > li {
  list-style-type: square;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
p.margin-half {
  margin-bottom: 1.6rem;
  line-height: 1.6rem;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent;
}
.padded-sides {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.width-100 {
  width: 100%;
}
.shadow,
.shadow:before,
.shadow:after {
  animation: none;
}
.features li, .clients li, pre[class*="language-"] {
  -webkit-box-shadow: 0 8px 16px rgba(0, 20, 80, 0.02), 0 4px 16px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 16px rgba(0, 20, 80, 0.02), 0 4px 16px rgba(0, 0, 0, 0.08);
}
pre[class*="language-"] {
  border: 0;
}

@media print {
  .shadow:before, .shadow:after {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
